<aside class="about-the-author" aria-labelledby="about-heading">
  <div class="about-layout">
    <div>
      <img
        id="cs-portrait"
        src="../../../img/chris-smith-cartoon-2023.webp"
        alt="Photo of Chris Smith, head shot with field and trees in the background"
      />
    </div>
    <div>
      <h2 id="about-heading">About me</h2>
      <p>
        I'm Chris Smith, a senior front-end developer and team lead from the UK.
        I've been making web pages easy to use, fast and accessible since 1999.
      </p>
      <p
        >I don't use any AI tools in my content, it's all me, for better or
        worse.</p
      >
      <p>
        You can reach me on
        <a
          href="https://codepen.io/chris22smith/"
          target="_blank"
          rel="noopener noreferrer"
          >CodePen</a
        >,
        <a
          href="https://mastodon.social/@chris22smith"
          target="_blank"
          rel="noopener noreferrer"
          >Mastodon</a
        >
        and
        <a
          href="https://x.com/chris22smith/"
          target="_blank"
          rel="noopener noreferrer"
          >X</a
        >.
      </p>
      {% include 'kofi-widget.html' %}
    </div>
  </div>
</aside>
