<aside class="about-the-author">
  <div class="about-layout">
    <div>
      <img
        id="cs-portrait"
        src="../../../img/chris-smith-cartoon-2023.webp"
        alt="Chris Smith in summer 2023"
      />
    </div>
    <div>
      <h3>About me</h3>
      <p>
        I'm Chris Smith, a senior front-end developer and team lead from the UK.
        I've been making web pages easy to use, fast and accessible since 1999.
      </p>
      <p
        >I don't use any AI tools in my content, it's all me, for better or
        worse.</p
      >
      <p>
        You can reach me on
        <a
          href="https://codepen.io/chris22smith/"
          target="_blank"
          rel="noopener noreferrer"
          >CodePen</a
        >,
        <a
          href="https://mastodon.social/@chris22smith"
          target="_blank"
          rel="noopener noreferrer"
          >Mastodon</a
        >
        and
        <a
          href="https://twitter.com/chris22smith/"
          target="_blank"
          rel="noopener noreferrer"
          >X (Twitter)</a
        >.
      </p>
      {% include 'kofi-widget.html' %}
    </div>
  </div>
</aside>
