<aside class="about-the-author">
  <div class="about-layout">
    <div>
      <img id="cs-portrait" src="../../../img/chris-smith-cartoon-2023.webp" alt="Chris Smith in summer 2023" />
    </div>
    <div>
      <h3>About the author</h3>
      <p>
        Chris is a senior front-end developer and team lead from the UK, making web pages easy to use, fast and
        accessible since 1999.
      </p>
      <p>
        Reach out on <a href="https://codepen.io/chris22smith/" target="_blank" rel="noopener noreferrer">CodePen</a>,
        <a href="https://mastodon.social/@chris22smith" target="_blank" rel="noopener noreferrer">Mastodon</a>
        and
        <a href="https://twitter.com/chris22smith/" target="_blank" rel="noopener noreferrer">X (Twitter)</a>.
      </p>
      {% include 'kofi-widget.html' %}
    </div>
  </div>
</aside>
