<footer>
  <p>
    <a
      href="https://codepen.io/chris22smith/"
      target="_blank"
      rel="noopener noreferrer"
      >CodePen</a
    >
    |
    <a
      href="https://twitter.com/chris22smith/"
      target="_blank"
      rel="noopener noreferrer"
      >Twitter</a
    >
    |
    <a
      href="https://home.social/@chris22smith"
      target="_blank"
      rel="noopener noreferrer"
      >Mastodon</a
    >
  </p>
  <p
    >&copy; Chris Smith,
    <script>
      document.write("2008-" + new Date().getFullYear());</script
    >, all rights reserved.</p
  >
</footer>
