---
title: Chris Smith
---

<!doctype html>
<html lang="en">
  <head>
    {% include 'google-analytics.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="page">
    {% include 'header.html' %}
    <article>
      <h1>{{ title }}</h1>
      <div class="subhead">
        <address>
          <span>by</span>
          <a href="https://chrissmith.xyz">Chris Smith</a></address>, <time datetime="{{ page.date.toISOString() }}">{{ page.date.toLocaleDateString(undefined, { day: 'numeric', month: 'long', year: 'numeric' }) }}</time>
      </div>      
    {{ content | safe }}
    </article>
    {% include 'footer.html' %}
    </div>
    <div class="cloud-animation" aria-hidden="true">
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
      <div class="cloud"></div>
    </div>
  </body>
</html>