---
title: Chris Smith
---

<!doctype html>
<html lang="en">
  <head>
    {% include 'google-analytics.html' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="page">
    {% include 'header.html' %}
    <article>
      <h1>{{ title }}</h1>
    {{ content | safe }}
    </article>
    {% include 'footer.html' %}
    </div>
  </body>
</html>