body {
  font-family: monospace;
  font-size: clamp(12px, 0.5rem + 1vw, 24px);
  padding: 5vmin;
}

header,
footer {
  padding: 0 5vmin;
}

header {
  max-width: 60rem;
  position: relative;
}

header > p,
footer > p {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0.25rem 0.75rem;
  text-shadow: 0.125rem 0.125rem rgb(255 255 255 / 25%);
  transform: rotate(-3deg);
}

header > p > .ext {
  color: #f09;
  font-size: small;
}

footer > p > a {
  color: #09f;
}

article {
  background-color: #fff;
  border-radius: 1vmin;
  max-width: 60rem;
  padding: 5vmin;
}

header > img {
  border-radius: 50%;
  height: 15vmin;
  position: absolute;
  right: 5vmin;
  top: 0;
  transform: rotate(-3deg);
  width: 15vmin;
}

h1 {
  display: inline-block;
  font-size: 3em;
  margin: 0 0 1rem 0;
  position: relative;
}

h1:before {
  animation: underline 1s linear;
  border-bottom: solid 0.125rem currentColor;
  content: "";
  inset: 0;
  position: absolute;
  transform-origin: bottom left;
}

p {
  line-height: 1.5;
}

@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
