body {
  font-family: sans-serif;
  font-size: clamp(12px, 0.5rem + 1vw, 20px);
  padding: 5vmin;
}

a,
a:link,
a:visited {
  color: #07d;
}

.page {
  margin: 0 auto;
  max-width: 60rem;
}

header,
footer {
  font-family: monospace;
  padding: 0 5vmin;
}

header {
  position: relative;
}

header p,
footer p {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0.25rem 0.75rem;
  text-shadow: 0.125rem 0.125rem rgb(255 255 255 / 25%);
  transform: rotate(-3deg);
}

header p .ext {
  color: #d07 !important;
  font-size: small;
}

footer p a {
  color: #09f;
  text-decoration: none;
}

article {
  background-color: #fff;
  border-radius: 1vmin;
  padding: 5vmin;
}

header img {
  border-radius: 50%;
  height: 13vmin;
  position: absolute;
  right: 5vmin;
  top: -4vmin;
  transform: rotate(-3deg);
  width: 13vmin;
}

header a {
  color: #fff !important;
  text-decoration: none;
}

h1 {
  font-size: 3em;
  margin: 0 0 1rem 0;
  text-shadow: 1px 1px #d07, 2px 2px #d07, 3px 3px currentColor;
}

.subhead {
  color: #757575;
  margin-bottom: 2rem;
  text-align: end;
}

address {
  display: inline;
}

h2 {
  text-shadow: 1px 1px #d07;
}

p,
ul {
  font-family: sans-serif;
  line-height: 1.5;
}

.details {
  color: #666;
  text-align: end;
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list > li {
  margin-bottom: 1rem;
}

code {
  background-color: #eee;
  border-radius: 0.25em;
  display: inline-block;
  padding: 0 0.25em;
}

pre > code {
  display: block;
  padding: 1rem;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: solid 1px #d07;
  padding: 0.5rem 1rem;
}

th:first-child {
  border-top-left-radius: 0.25rem;
}
th:last-child {
  border-top-right-radius: 0.25rem;
}
td:first-child {
  border-bottom-left-radius: 0.25rem;
}
td:last-child {
  border-bottom-right-radius: 0.25rem;
}
