body {
  font-family: monospace;
  font-size: clamp(12px, 0.5rem + 1vw, 24px);
  padding: 5vmin;
}

header > p {
  color: #fff;
  font-size: 2rem;
  margin: 0 0 1rem 0;
  text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000;
}

article {
  background-color: #fff;
  border: solid 1px currentColor;
  border-radius: 2vmin;
  max-width: 64rem;
  padding: 5vmin;
}

header,
footer {
  padding: 0 5vmin;
}

img {
  float: right;
  border-radius: 50%;
  border: solid 0.25em currentColor;
  height: 20vmin;
  margin: 0 0 1rem 1rem;
  width: 20vmin;
}

h1 {
  font-size: 3em;
  margin: 0 0 1rem 0;
}

h1:after {
  animation: blink 1s linear alternate infinite;
  content: "_";
}

p {
  line-height: 1.5;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
