/* mobile first */

#cs-portrait {
  aspect-ratio: 1;
  block-size: 100%;
  border: solid 0.25rem #d07;
  border-radius: 0.25rem;
  filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
  inline-size: 100%;
  transform: rotate(3deg);
}

.post-list > li:nth-child(n + 4) {
  display: none;
}

.post-list > li.featured {
  flex: 1 1 20rem;
}

.post-list > li.featured .description {
  display: none;
  font-size: max(0.75em, 14px);
}

small.subtle {
  color: #757575;
  font-size: 1em;
}

/* larger */

@media (width >= 560px) {
  .home-intro-layout {
    display: flex;
    gap: 2rem;
  }
  #cs-portrait {
    block-size: 240px;
    inline-size: 240px;
  }
  .post-list > li {
    display: flex !important;
  }
  .post-list > li.featured .description {
    display: block;
  }
}
