/* mobile first */

#cs-portrait {
  aspect-ratio: 1;
  border: solid 0.25rem #d07;
  border-radius: 0.25rem;
  filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5));
  inline-size: 100%;
  rotate: 3deg;
}

.post-list > li:nth-child(n + 4) {
  display: none;
}

/* larger */

@media (width >= 560px) {
  .home-intro-layout {
    display: flex;
    gap: 2rem;
  }
  #cs-portrait {
    block-size: 200px;
    inline-size: 200px;
  }
  .post-list > li {
    display: block !important;
  }
}
